<%- layout('layouts/main.ejs')%>
<center>
  <% if (arrayQuestions.length > 0) { %>
    <% arrayQuestions.forEach(question => { %>
      <div class="d-inline-flex p-2">      
        <div class="card">
       <h5 class="card-header"><%= question.title %></h5>
       <div class="card-body">
         <p class="card-text"><%= question.question %></p>
         <footer class="blockquote-footer">Por <%= question.email %> el <%= question.date %></footer>
         
       </div>
       <div class="accordion accordion-flush" id="accordionFlushExample">
           <div class="accordion-item">
             <h2 class="accordion-header" id="flush-headingOne">
               <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                 Respuestas
               </button>
             </h2>
             <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
               <div>
                   <div class="accordion-body">Contenido</div>
                   <footer class="blockquote-footer">Por </footer>
                   <% if(userQuestion) {%> 
                   <button type="button" class="btn btn-success"><i class='bx bxs-like' ></i></button>
                <button type="button" class="btn btn-danger"><i class='bx bxs-dislike' ></i></button>
                <% } %>
              </div>
               
             </div>
       
           </div>
      
         
         </div>
     </div></div>
     <hr>

       
          
         
    <% }) %>
<% } %>
 

</center>
